@font-face 
{
  font-family: "poppinsbold";
  src: url("../fonts/poppins/poppins-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/poppins/poppins-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face 
{
  font-family: "notoserif-bold";
  src: url("../fonts/notoserif-bold-webfront.woff2")
      format("woff2"),
    url("../fonts/notoserif-bold-webfront.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face 
{
  font-family: "notoserif-regular";
  src: url("../fonts/notoserif-regular-webfront.woff2")
      format("woff2"),
    url("../fonts/notoserif-regular-webfront.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container
{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  font-family: notoserif-regular;
}

section
{
  height: 100vh;
  scroll-snap-align: start;
  padding: 0 5vw;
  background-color: aqua;
}

.banner {
  background-color: rgb(184, 223, 145);
  position: relative;
  padding: 0;
}

.header
{
  min-height: 6vh;
  background-image: linear-gradient(45deg, #52c4ff, #004aae);
  color: white;
  align-items: center;
}

.header-content{
  width: 35%;
  float: right;
  display: flex;
  justify-content: space-between;
  padding: 0.46rem 2rem; 
}

.header-email
{
  display: flex;
  width: 55%;
  justify-content: space-between;
}

.header-mobile
{
  display: flex;
  width: 33%;
  justify-content: space-between;
}

.header-logo
{
  width: 8%;
  height: 8%;
}

.mobile
{
  width: 12%;
  width: 12%;
}

.header-logo img
{
  max-width: 100%;
  animation: blink-animation 1s steps(5,start) infinite;
  -webkit-animation: blink-animation 1s steps(5,start) infinite;
}

@keyframes blink-animation {
  to{
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation
{
  to{
    visibility: hidden;
  }
}

.header-name a
{
  font-size: 1rem;
  font-family: notoserif-bold;
  letter-spacing: 0.8px;
  text-decoration: none;
  color: white;
}